
# Weight files
bin/

# Input files
inputs/input.mp4

# Output giles
outputs/production.avi

# Built cython files
darkflow/cython_utils/*.pyd
darkflow/cython_utils/*.c

#egg-info
darkflow.egg-info/

#Other build stuff
build/
